{% extends "admin_base.html" %} 
{% block content %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<div class="container-fluid m-2">
    <div class="container mt-1 text-center mx-auto">
        <div class="row">
            <div class="col-md-4 mb-4">
                <a href="load_leads" style="text-decoration: none;">
                    <div class="mask  p-4  stretch-card transparent" href="">
                        <div class="card card-dark-blue">
                            <div class="card-body">
                                <h5 class="mb-4 fw-bold">IT HEAD</h5>
                                <p class="fs-30 mb-2 fw-bold">6</p>
                                <p>This Month</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="{% url 'load_concilors' %}" style="text-decoration: none;">
                    <div class="mask  p-4  stretch-card transparent" href="">
                        <div class="card card-light-blue">
                            <div class="card-body">
                                <h5 class="mb-4 fw-bold"> COUNCILLOR</h5>
                                <p class="fs-30 mb-2 fw-bold">5</p>
                                <p>This Month</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="{% url 'load_docofficers' %}" style="text-decoration: none;">
                    <div class="mask  p-4  stretch-card transparent" href="">
                        <div class="card card-light-danger">
                            <div class="card-body">
                                <h5 class="mb-4 fw-bold">DOCUMENT OFFICER</h5>
                                <p class="fs-30 mb-2 fw-bold">7</p>
                                <p>This Month</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>




</div>
<style>
    td {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .N:hover {
        height: 10%;
    }
</style>
{% endblock content %}